<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addCustomers" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="email" placeholder="ID" name="id">
    <input type="Number" placeholder="Current Balance" name="currBalance">
    <input type="Number" placeholder="Account Number" name="accNumber">
    <button type="submit">Submit details</button>
    </form>
</body>
</html>